<div class="row">
    <div class="col-10 mx-auto bg-light">
        <h1>{{message}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto bg-light">
        <h2>{{error.status}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto bg-light">
        <div class="card-body">
            <p>{{error.stack}}</p>
        </div>
    </div>
</div>

